# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.txt
*.class
*.jar
*.exe
out
gen
test
result
.idea/
InfectStatistic-example.iml
