# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
InfectStatistic-example.iml

#rules created by springAlex
/221701131/*.exe
/221701131/*.log
/221701131/*.txt
/221701131/*.class
/221701131/*.jar
/221701131/*.class
