# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
InfectStatistic-example.iml
*.exe
221701210/src/InfectStatistic.java
221701210/src/Lib.java
*.json
221701210/log/NewLog.txt
221701210/result/TestOut1.txt
221701210/result/TestOut2.txt
221701210/result/TestOut3.txt
