#忽略根目录下bin文件夹中的所有文件
/bin/*

#忽略所有.class文件
/src/*.class

#忽略.classpath
.classpath

#忽略.project
.project

#忽略.settings文件夹
/.settings/

#忽略log文件夹
/log/

#忽略result文件夹
/result/
/bin/

#忽略test文件
/src/InfectStatisticTest.java
